<%= render 'column', article: @articles %>

<div class = "new_article_form">
  <h1>Edit Article</h1>

  <%= render 'form', article: @article %>

  <div class="linkto"><%= link_to 'Show', @article %></div>
  <div class="linkto"><%= link_to 'Back', articles_path %></div>
</div>

<%= render 'column', article: @articles %>
