<%= render 'column', article: @articles, locale: {side: "left"} %>

<div class="main">
  <div class="welcome">Welcome to my blog, feel free to contribute!</div>
    <div class="latestarticle">
      <%= render 'disp', article: @article %>
    </div>
    
    <% if @article.comments.length != 0 %>
    <div class="commentbox">
      <h2>Comments</h2>
      <%= render partial: "comments/comment", collection: @article.comments %>
    </div>
    <% end %>
    <div class="commentbox"><%= render partial: "comments/form" %></div>

    <%= render 'list' %>
</div>

<%= render 'column', article: @articles, locale: {side: "right"} %>
