<!DOCTYPE html>
<html>
  <head>
    <title>MyBlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="leftcolumn"></div>
    <div class="main">
      <div class="welcome">Welcome to my blog, feel free to contribute!</div>
      <%= yield %>
    </div>
    <div class="rightcolumn"></div>
  </body>
</html>
